body {
    margin: 0;
    font-family: sans-serif;
    background: #ffeef3;
}

.page {
    padding: 20px;
    text-align: center;
}

button {
    background: #ff8fb1;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
}

.card {
    background: white;
    padding: 15px;
    margin: 15px auto;
    width: 300px;
    border-radius: 20px;
}